* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: black;
  color: #e7e7e7;
  min-height: 100vh;
  line-height: 1.5;
}

.image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.5;
  z-index: -1;
}

.layer-blur {
  height: 0;
  width: 30rem;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: 0 0 700px 15px white;
  rotate: -30deg;
  z-index: -1;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

header h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}

nav {
  align-items: center;
  display: flex;
  gap: 3rem;
  margin-left: -5%;
}

nav a {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
  z-index: 999;
}

nav a:hover {
  color: #a7a7a7;
}

.btn-signing {
  background-color: #a7a7a7;
  color: black;
  padding: 0.8rem 2rem;
  border-radius: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.2s ease;
  cursor: pointer;
  z-index: 999;
}

.btn-signing:hover {
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(90vh - 6rem);
}

.content {
  max-width: 40rem;
  margin-left: 10%;
  z-index: 999;
}

.tag-box {
  position: relative;
  width: 18rem;
  height: 2.5rem;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #656565,
    #7f42a7,
    #6600c5,
    #5300a0,
    #757575,
    #656565
  );
  background-size: 200%;
  animation: animationGradient 2.5s linear infinite;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient {
  to {
    background-position: 200%;
  }
}

.tag-box .tag {
  position: absolute;
  inset: 3px 3px 3px 3px;
  background-color: black;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  cursor: pointer;
}

.tag-box .tag:hover {
  color: #5300a0;
}

.content h1 {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 2rem 0;
  line-height: 1.2;
  text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description {
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  max-width: 35rem;
  color: gray;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 3rem;
}

.btn-get-started {
  text-decoration: none;
  border: 1px solid #2a2a2a;
  padding: 0.7rem 1.2rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 0.2s ease;
}

.btn-get-started:hover {
  background-color: #1a1a1a;
}

.btn-signing-main {
  text-decoration: none;
  background-color: lightgray;
  color: black;
  padding: 0.6rem 2.5rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
  transition: background-color 0.2s ease;
}

.btn-signing-main:hover {
  background-color: gray;
}

.robot-3d {
  position: absolute;
  top: 0;
  right: -20%;
}

@media (max-width: 1300px) {
  header {
    padding: 1rem 0.5rem;
  }

  .content {
    margin-top: 85%;
  }

  .robot-3d {
    scale: 0.8;
    top: -20%;
    right: 2%;
  }
}

@media (max-width: 768px) {
  header {
    padding: 1rem 0.1rem;
  }

  nav {
    display: none;
  }

  header h1 {
    font-size: 2rem;
  }

  .content {
    margin-top: 25rem;
  }

  .robot-3d {
    scale: 0.5;
    top: -25%;
    right: 0;
  }

  .content {
    max-width: 30rem;
    margin-left: 10%;
  }

  .tag-box {
    width: 12rem;
  }

  .content h1 {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1rem;
  }

  .btn-get-started {
    font-size: 0.8rem;
    padding: 0.8rem 1.2rem;
  }

  .btn-signing-main {
    font-size: 0.8rem;
    padding: 0.8rem 2rem;
  }
}

#gallery {
  padding: 5rem 0;
  background: radial-gradient(circle, #ffc79fe1, #30221579, #533d3de1);
  border-top: 1px solid #ddd;
  margin-top: 60px;
  position: relative;
  min-height: 100vh;
}

.gallery-title {
  text-align: center;
  background: radial-gradient(circle, #cb0a0a6c, #c88315);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  padding: 2rem;
}

.gallery-item {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  width: 300px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

.gallery-item p {
  margin: 0;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  font-size: 1rem;
  background-color: #4e1f1f76;
  transition: background 0.3s ease, color 0.3s ease;
}

.remove-btn:hover {
  background: rgba(255, 255, 255, 1);
  background-color: #8b2222;
}

.remove-btn i {
  margin: 0;
}

.buttons-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: linear-gradient(135deg, #0a0a09, #372624c5);
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background: linear-gradient(135deg, #f00d0d, #f97d02e9);
  transform: scale(1.1);
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
}

.buttons .btn {
  margin: 0 1rem;
  flex: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ffffff;
  padding: 10px 0;
  resize: none;
  background: linear-gradient(135deg, #1b1a1a, #080707e9, #2d2d2d);
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#save-description-btn {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: linear-gradient(135deg, 0#f00d0d, #f97d02e9);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#save-description-btn:hover {
  background-color: #b86022;
  transform: scale(1.1);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
